body {
    font-family: Arial, sans-serif;
}

header {
    background: hsl(220, 13%, 95%);
    color: black;
}
.logo {
    mix-blend-mode: multiply;
}
.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: #000000;
    color: white;
}

/* Styles réactifs */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 1rem;
    }
}
